<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935937146765-ee8ljv9fd7srb8bumlnp4a6fj68dgkh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935937146765-ee8ljv9fd7srb8bumlnp4a6fj68dgkh5</string>
	<key>API_KEY</key>
	<string>AIzaSyD0MOuWHGUisG25KdhXOfYiu9a7uNAPR64</string>
	<key>GCM_SENDER_ID</key>
	<string>935937146765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ooo.toscan.ttclone</string>
	<key>PROJECT_ID</key>
	<string>ttclone-2ed83</string>
	<key>STORAGE_BUCKET</key>
	<string>ttclone-2ed83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935937146765:ios:9da7e3c0bb764f31f2c7c4</string>
	<key>DATABASE_URL</key>
	<string>https://ttclone-2ed83.firebaseio.com</string>
</dict>
</plist>